<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/customecss.css" rel="stylesheet">
    <script src="static/js/jquery.js"></script>
	  <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function delete(){

      }
    </script>
  </head>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="{{url_for('index')}}"><strong>DeepIE</strong></a>
  </nav>
  <body>
    <a href="{{url_for('history')}}">History</a><br>
    <a href="{{url_for('addNeural')}}">Add Neural Network</a><br>
    <a href="{{url_for('addEvol')}}">Add Evolution Algorithm</a><br>
    <a href="{{url_for('addGen')}}">Add Generator</a><br>
    {% if neuraldata%}
      {% for neural in neuraldata %}
        <div>{{neural.id}}, {{neural.name}}</div>
      {% endfor %}
    {% else %}
      <div> No Neural Network!!</div>
    {% endif%}

    {% if evolaldata%}
      {% for ea in evolaldata %}
        <div>{{ea.id}}, {{ea.name}}</div>
      {% endfor %}
    {% else %}
      <div> No Evolution Algorithm!!</div>
    {% endif%}

    {% if genedata%}
      {% for gene in genedata %}
        <div>{{gene}}</div>
      {% endfor %}
    {% else %}
      <div> No Generator!!</div>
    {% endif%}

  </body>
</html>
