{% extends "base.html" %}

{% block content %}
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
  <p style="margin-top:50px; color:#663366">
    Deep Interactive Evolution (game.engineering.nyu.edu/deep-interactive-evolution/) is a tool that allows people to create images by selecting images. Each round the user can select from a list the images that our closest to what they have in mind. The system then generates a new set of images based on what they chose. This process allows anybody to easily create images. This project is to build a web interface for this system that can handle a number of existing deep neural networks.
  </p>
{% endblock %}
