<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/js/customer.js"></script>

  </head>
  <body>
    <form id="form1">
     <h2 class="form-signin-heading">Please Sign Up </h2>
     <input id="username" type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Register </button>
   </form>
   <form name="form2">
     <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
   </form>
  </body>
</html>
